@import "./mixin";
@import "./colors";
@font-face {
    font-family: lato;
    src: url(../fonts/Source_Serif_Pro/SourceSerifPro-Italic.ttf);
}
body {
  position: relative;
    margin: 0;
    padding: 0;
    font-family: lato;
}
header {
    background-color: black;
    height: 775px;
    color: white;
}
.header_title {
  position: absolute;
    margin-left: 165px;
    margin-top: 30px;
}
.location {
    position: absolute;
margin-left: 420px;
display: flex;
margin-top: 30px;
align-items: center;
font-size: 18px;
}
.nav {
    width: 18px;
    height: 22px;
    padding-right: 8px;
}
.location_inst {
   @include location_inst
}
.instagram {
    text-decoration: none;
    color: white;
}
.icon_inst {
    padding-right: 12px;
    width: 25px;
}
.nav_number {
    position: absolute;
    margin-left: 836px;
    margin-top: 37px;
    font-size: 22px;
}
.icon_phone {
    width: 16px;
    padding-right: 9px;
}
.header_button {
    background-color: #E7490F;
    width: 200px;
    height: 50px;
    color: white;
    border-color: #E7490F;
    font-size: 18px;
}
.header-button {
    position: absolute;
    margin-left: 1092px;
    margin-top: 30px;
}
.nav_link {
    position: absolute;
    margin-left: 820px;
    margin-top: 89px;
   font-size: 18px;
}
.link {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    transition: 1s;
}  






// бургер меню
.navbar {
    width: 150px;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    visibility: hidden;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  .navbar .menu-items {
    display: flex;
  }
  .navbar .nav-container li {
    list-style: none;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
    margin-left: 300px;
  margin-top: 20px;
  }
  .nav-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 33px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   margin-top: 20px;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 30px;
    border-radius: 10px;
    background: #ffffff;
    margin-left: 300px;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  } 
  .navbar .menu-items {position: relative;
    padding-top: 50px;
    // box-shadow: inset 0 0 2000px rgb(92, 91, 91);
    background-color: #5e5d5d;
    height: 600px;
    width: 220px;
    transform: translate(-300%);
    display: flex;
    flex-direction: column;
    margin-left: 290px;
    padding-left: 30px;
    transition:transform 0.5s ease-in-out;
    z-index: 10;
  }
  .navbar .menu-items li {
    margin-bottom: 20px;
    font-size: 0px;
    font-weight: 500;
  }
  .items_text {
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }




  // основная часть головы
 .container-text {
  position: absolute;
  margin-top: 230px;
  margin-left: 100px;
  color: #E7490F;
  font-size: 25px;
 }
 .container_text {
  position: absolute;
  margin-top: 250px;
  margin-left: 80px;
  font-size: 25px;
  width: 600px;
 }
 .container_p {
  position: absolute;
  margin-top: 450px;
  width: 540px;
  margin-left: 100px;
  font-size: 18px;
 }
 .asaid_img {
  position: absolute;
  margin-left: 800px;
  margin-top: 263px;
  z-index: 1;
  box-shadow: -50px -30px 150px #E7490F;
 }
 .asaid_icon {
  position: absolute;
  margin-left: 1150px;
  margin-top: 400px;
 }






//  второй конейнер main 
 .main-title {
  color: #E7490F;
  font-size: 15px;
  margin-left: 100px;
  margin-top: 100px;
 }
 .main_title {
margin-left: 100px;
font-size: 18px;
 }
 .main_img {
  position: absolute;
  margin-left: 100px;
 }
 .main_text-p {
  width: 300px;
 }
 .main_text-h1 {
  font-size: 28px;
 }
 .main_img2 {
  position: absolute;
  margin-left: 490px;
 }
 .main_img3 { position: absolute;
margin-left: 880px;
 }





 
//  section третий контейнер
section {
  background-color: black;
  margin-top: 700px;
  height: 2200px;}
.section_title-p {
  position: absolute;
  margin-top: 215px;
  color: #E7490F;
  margin-left: 100px;
}
.section_title-h1 {
  position: absolute;
  margin-top: 242px;
  color: white;
 font-size: 25px;
 margin-left: 100px;
}
.section_p {
  position: absolute;
  width: 450px;
  color: white;
  margin-top: 315px;
  margin-left: 100px;
}
.main-asaid_img {
  position: absolute;
  margin-left: 700px;
  margin-top: 330px;
box-shadow: -40px -20px 70px #E7490F;
z-index: 1;
}
.main_icon {
  position: absolute;
  margin-left: 1030px;
  margin-top: 480px;
  z-index: 0;
}
.icon_line {
  margin-top: 400px;
}
.main_line {
  margin-top: 400px;
}
.main_grid {
 @include grid
}
.block {
  color: white;
  background-color: #ffffff;
}



/* регистрация */ 
.registration {
  color: white;
}
.registration_title {
  font-size: 25px;
  width: 449px;
  text-align: center;
  margin-left: 450px;
  position: absolute;
}
.registration_title:hover {
  border-bottom: 1px solid #E7490F;
}
.name {
 position: absolute;
  margin-top: 150px;
  margin-left: 400px; 
  font-size: 20px;
}
.input_name {
  position: absolute;
  @include input_name;
 margin-top: 200px;
}
.input_number {
  position: absolute;
  width: 540px;
  height: 60px;
  background-color: black;
  margin-left: 400px;
  margin-top: 350px;
  color: white;
  font-size: 20px;
}
.select_number {
  position: absolute;
  margin-left: 400px;
  margin-top: 350px;
  width: 50px;
  height: 66px;
  background-color: black;
}
.russia {
  background-image: url("../icon/Russia.png") no-repeat;
  background-size: auto 90%;
}
.number {
  position: absolute;
  margin-left: 400px;
  font-size: 20px;
  position: absolute;
  margin-top: 300px;
}
.registration_button {
  position: absolute;
  @include button ;
  margin-top: 500px;
 margin-left: 400px;
 width: 550px;
 height: 60px;
}
.reg_h1 {
  margin-top: 15px;
}


// второй мэйн
.main2_text1 {
  @include text_p;
  margin-top: 120px;
  margin-left: 165px;
  font-size: 20px;
}
.main2_title {
  margin-left: 160px;
  font-size: 23px;
}
.main2_grid_container {
  display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px 300px;
    gap: 50px;
   margin-left: 80px;
   margin-top: 60px;
}
.grid_block {
  background-color: black;
}


// footer последняя страница
footer {
  background-color: black;
  width: 100%;
  height: 680px;
  margin-top: 0;
}
.footer_schedul {
  position: absolute;
  margin-left: 100px;
  width: 540px;
  height: 452px;
  border: 2px solid #E7490F;
  margin-top: 120px;
}
.schedul_week {

  color: white;
}
.footer_nav {
  position: absolute;
  margin-left: 643px;
margin-top: 120px;
}
.icon_cal {
  position: absolute;
  margin-left: 25px;
  margin-top: 15px;
}
.schedul_week {
margin-top: 90px;
}
.week_p {
  font-size: 17px;
  margin-left: 58px;
}
.schedul_adress {
  margin-top: 30px;
}
.icon_map {
  position: absolute;
  margin-left: 25px;
}
.map_p {
  font-size: 17px;
  color: white;
  margin-left: 58px;
}
.schedul_number {
  margin-top: 30px;
}
.icon_phone_f {
  position: absolute;
  margin-left: 25px;
}
.phone_p {
  font-size: 17px;
  color: white;
  margin-left: 58px;
}
.schedul_description {
 margin-top: 36px;
}
.descr_p {
  color: #5e5d5d;
  margin-left: 30px;
}
.cil {
  text-decoration: none;
  outline: none;
  color: white;
}
@media screen and (max-width: 1000px) {
   header {
width: 100%;
   }
   .input_number {
    padding-left: 0;
   }
}
@media screen and (max-width: 960px) {
   header {
    width: 100%;
   }
   .input_number {
    margin-left: 0;
   }  
   .main_img {
    position: relative;
   }
   .main_img2 {
    position: relative;
    margin-left: 100px;
   }
   .main_img3 { 
    position: relative;
  margin-left: 100px;
   }
   .header-button {
    
    display: none;
   }
   .nav_number {
    display: none;
   }
   .nav_link {
    margin-left: 0;
    visibility: hidden;
   }
   .header_title {
    margin-left: 200px;
   }
   .header_location {
    margin-left: 0px;
   }
   .location {
    font-size: 20px;
   }
   .location_inst {
    font-size: 20px;
    width: 200px;
   }
   .container-text {
    margin-top: 450px;
    font-size: 14px;
    margin-left: 100px;
   }
   .container_p {
    margin-top: 580px;
    margin-left: 100px;
    font-size: 14px;
   }
   .container_text {
    margin-left: 100px;
    font-size: 20px;
    margin-top: 450px;
   }
   .asaid_img {
    margin-top: 160px;
    margin-left: 165px;
   }
   .asaid_icon {
    margin-left: 380px;
    margin-top: 250px;
   }
   .icon_tick {
    width: 120px;
   }
   .img_girl {
    width: 300px;
   }
   .main_img {
   position: absolute;
  margin-left: 20px;
   }
   .main_img2 {
    margin-left: 400px;
   }
   .main_img3 {
    margin-top: 50px;
    margin-left: 200px;
   }
   section {
   width: 100%;
    margin-top: 0;
    height: 3500px;
   }
.main-asaid_img {
  margin-left: 100px;
margin-top: 550px;
}
.main_line {
  display: none;
}
.main_icon {
  margin-top: 720px;
  margin-left: 450px;
}
.main_grid {
  position: absolute;
  margin-top: 950px;
  margin-left: 0;
display: block;
margin-left: 200px;
}
.block {
  background-color: black;
display: block;
width: 300px;
}
.registration {
  position: absolute;
  margin-top: 2850px;
}
.registration_title {
  margin-left: 0;
}
.name {
  margin-left: 10px;
}
.input_name {
  margin-left: 10px;
}
.number {
  width: 200px;
  margin-top: 300px;
  margin-left: 10px;
}
.select_number {
  margin-left: 10px;
}
.input_number {
  margin-left: 10px;
}
.registration_button {
  margin-left: 10px;
}
.main2_grid_container {
margin-left: 0;
display: block;
margin-left: 250px;
}
.grid_block {
  background-color: #ffffff;
  margin-top: 50px;
}
footer {
  height: 1200px;
}
.footer_schedul {
  margin-left: 150px;
  
}
.footer_nav {
  margin-left: 150px;
  margin-top: 600px;
}
.img_map {
  width: 540px;
}
}
@media screen and (max-width: 700px) {
  .input_number {
    margin-left: 10px;
   }  
    .header_location {
        margin-left: 0;
      display: none;
        position: absolute;
    }
    header {
        width: 100%;
    }
    .location {
      display: none;
        margin-left: 0;
    }
    .location_inst {
      display: none;
        margin-left: 0;
    }
    .navbar {
        visibility: visible;
    }
    .nav-container .checkbox {
        margin-left: 500px;
    }
    .nav-container .hamburger-lines .line {
        margin-left: 500px;
    }
    .navbar .menu-items {
        margin-left: 320px;
    }
    .header_title {
      margin-left: 20px;
    }
    .container-text {
      margin-top: 400px;
      margin-left: 50px; 
      font-size: 20px;
    }
    .container_text {
      margin-left: 50px;
      font-size: 15px;
      width: 350px;
    }
    .container_p {
      margin-left: 50px;
      font-size: 14px;
      width: 500px;
    }
    .main_img {
      margin-left: 150px;
    }
    .main_img2 {
    margin-left: 150px;
    margin-top: 600px;
  }
  .main_img3 {
    margin-left: 150px;
    margin-top: 0;
  }
  .main_grid {
    margin-left: 150px;
  }
  .main-asaid_img {
    margin-left: 70px;
  }
  .main_icon {
    margin-left: 420px;
  }
 .main2_grid_container {
  margin-left: 160px;
 }
 .main2_title {
  margin-left: 0;
 }
 .main2_text1 {
  margin-left: 20px;
 }
 .footer_schedul {
  margin-left: 20px;
  
}
.footer_nav {
  margin-left: 20px;
  margin-top: 600px;
}
.img_map {
  width: 540px;
}
}

@media screen and (max-width: 520px) {
    .header_title {
margin-left: 50px;
    }
    .navbar {
        visibility: visible;
    }
    .nav-container .checkbox {
        margin-left: 350px;
    }
    .nav-container .hamburger-lines .line {
        margin-left: 350px;
    }
    .navbar .menu-items {
        margin-left: 280px;
    }
    .asaid_img {
      margin-left: 50px;
    }
    .asaid_icon {
      margin-left: 270px;
    }
    .container-text {
      margin-left: 10px;
    }
    .container_text {
      margin-left: 10px;
    }
    .container_p {
      margin-left: 10px;
      width: 400px;
    }
    .main-title {
      margin-left: 50px;
    }
    .main_title {
      margin-left: 50px;
    }
    .main_img {
      margin-left: 50px;
    }
    .main_img2 {
      margin-left: 50px;
    }
    .main_img3 {
      margin-left: 50px;
    }
    .section_title-p {
      margin-left: 50px;
    }
    .section_title-h1 {
      margin-left: 50px;
      width: 300px;
    }
    .section_p {
      margin-top: 370px;
      margin-left: 50px;
      width: 300px;
    }
    .main-asaid_img {
      margin-top: 620px;
      margin-left: 10px;
      box-shadow: 0 0 0 0;
    }
    .main_icon {
      display: none;
    }
    .main_grid {
      margin-left: 70px;
    }
    .img_girl2 {
      width: 400px;
    }
    .input_name {
      width: 400px;
    }
    .input_number {
      width: 350px;
    }
    .registration_button {
      width: 400px;
    }
    .main2_grid_container {
      margin-left: 50px;
     }
     .main2_title {
      margin-left: 0;
      width: 400px;
     }
     .main2_text1 {
      margin-left: 20px;
     }
     footer {
      width: 100%;
     }
     .footer_schedul {
      margin-left: 20px;
      width: 400px;
    }
    .footer_nav {
      margin-left: 20px;
      margin-top: 600px;
    }
    .img_map {
      width: 400px;
    }
}
@media screen and (max-width: 430px) {
  
  header {
    width: 430px;
    height: 850px;
  }
  .main-title {
    margin-left: 20px;
   }
   .main_title {
 margin-left: 20px;
 width: 200px;
   }
  .main_img {
    position: relative;
    margin-left: 10px;
   }
   .main_img2 {
    position: relative;
    margin-left: 10px;
    margin-top: 0;
   }
   .main_img3 { 
    position: relative;
  margin-left: 10px;
   }
    .navbar {
        visibility: visible;
    }
    .nav-container .checkbox {
        margin-left: 300px;
    }
    .nav-container .hamburger-lines .line {
        margin-left: 300px;
    }
    .navbar .menu-items {
        margin-left: 180px;
        z-index: 2;
    }
    .asaid_img {
     position: absolute;
      margin-top: 160px;
      margin-left: 20px;
      z-index: 1;
     }
     .asaid_icon {
      margin-left: 230px;
      margin-top: 235px;
    
     }
     .icon_tick {
      width: 120px;
      z-index: 0;
     }
     .img_girl {
      width: 300px;
      
}
.container_p {
  width: 350px;
  z-index:0;
  margin-left: 20px;
}
.container-text {
  margin-left: 20px;
}
.container_text {
  margin-left: 20px;
}
.img_girl2{
  width: 350px;
}
section {
  width: 430px  ;
}
.main_grid {
  margin-left: 30px;
}
.input_name {
  width: 350px;
}
.registration_title {
  width: 350px;
  margin-left: 0;
  font-size: 20px;
  margin-top: 50px;
}
.input_number {
  width: 350px;
}
.registration_button {
  width: 350px;
  font-size: 15px;
}
.main2_grid_container {
  margin-left: 20px;
 }
 .main2_title {
  margin-left: 15px;
  width: 400px;
 }
 .main2_text1 {
  margin-left: 20px;
 }
 footer {
   width: 430px;
 }
 .footer_schedul {
  margin-left: 20px;
  width: 350px;
}
.footer_nav {
  margin-left: 20px;
  margin-top: 600px;
}
.img_map {
  width: 350px;
}
.icon_cal {
  margin-left: 10px;
}
.week_p {
  margin-left: 40px;
}
.icon_map {
  margin-left: 10px;
}
.map_p {
  margin-left: 40px;
}
.icon_phone_f {
  margin-left: 10px;
}
.phone_p {
  margin-left: 40px;
}
.descr_p {
  margin-left: 10px;
}
}
